body {
    background-color: wheat;
}

.inhalt {
    margin-top: 200px;
}

.unterseiten {
    margin-top: 100px;
    margin-left: 5px;
}

.img150 {
    float: left;
    width: 33%;
    padding: 3px;
}

.clearing {
    clear: both;
}

.b1 {
    width: 100%;
}

h3 {
    display: inline;
    color: black;

}


#start {
    text-align: center;
}

.navbar-nav > li {
    float: left;
    position: relative;
    right: 50%;
    color: black;
}

.navbar-nav {
    float: left;
    position: relative;
    left: 50%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    color: black;
}

.navbar-nav a {
    width: auto;
    display: block;
    padding: 0 10px;
    line-height: 1.5em;
    color: black;
    text-decoration: none;
}

.k1 {
    float: left;
    margin-top: 5px;
    padding: 5px;
}

img.minigalerie2 {
    transition: transform 0.2s;
}

img.minigalerie2:hover {
    transform: scale(2.0, 2.0);
}

#minigalerie {
    display: table;
    border-spacing: 10px;
}

#minigalerie a {
    display: table-cell;
    vertical-align: middle;
}

#minigalerie {
    display: inline-block;
    margin: 4px 4px 8px 4px;
    vertical-align: top;
    font-size: 8pt;
    text-align: left;
}

#minigalerie img {
    transition: transform 0.2s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
}

#minigalerie img:target {
    width: 180px;
    height: 300px;
}

.minigalerie2 img {
    transition: transform 0.2s;
}

.minigalerie2 img:hover {
    transform: scale(2.0, 2.0);
}

.gallery {
    display: inline-block;
}

.gallery{
    transition: transform 0.2s;
}

.gallery:hover {
    transform: scale(2.0, 2.0);
}
#einblenden {
  margin-top: -20px;  /* Text hinaufschieben */
  margin-left: 5px;   /* Text horiz. ausrichten */
  font-weight: bold;   /* Text formatieren */
  color: #fff;               /* Text Farbe */
}